@import './cursor.scss';

body {
    background: yellow;

    img {
        border-radius: 30px;
        transform: translate(100px, 100px);
    }

    .item:nth-of-type(odd) {
        background: green;
    }
}